ul{
    display: flex;
    flex-flow: row wrap;
    padding:0px;
}
ul li{
    list-style: none;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
ul li + li{
    margin-left:20px;
}
ul .animal{
    width:100px;
}
ul .heart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 50px;
}